asgiref==3.11.0
Django==6.0
django-cors-headers==4.3.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
et_xmlfile==2.0.0
inflection==0.5.1
openpyxl==3.1.2
packaging==25.0
pillow==10.3.0
psycopg2-binary==2.9.9
PyJWT==2.10.1
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.3
setuptools==80.9.0
sqlparse==0.5.4
tzdata==2025.2
uritemplate==4.2.0
