@use "@/styles/variables.scss" as *;

.role-management-page {
  padding: 0;
}

.pagination-footer {
  padding-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.role-form {
  padding: 0 20px;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.form-hint {
  font-size: 12px;
  color: $slate-500;
  line-height: 1.5;
  margin-top: 4px;
}
